html {
    background-color: lightgray;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 350px auto auto auto auto auto auto auto;
    grid-template-areas:
        "nav"
        "hero"
        "side1"
        "aboutMe"
        "side2"
        "apps"
        /* "app1"
        "app2"
        "app3"
        "app4"
        "app5" */
        "side3"
        "contactInfo"
        "footer";
        gap: .2rem ;
}

nav {
    grid-area: nav;
    background-color:lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navLinks {
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

#hero {
    grid-area: hero;
}

#hero img {
    object-fit: cover;
    height: 350px;
    width: 100%;
}

#side1 {
    background-color: aqua;
    grid-area: side1;
    margin-top: 25px;
}

#side2 {
    background-color: tan;
    grid-area: side2;
    margin-top: 25px;
}

#side3 {
    background-color: burlywood;
    grid-area: side3;
    margin-top: 25px;
}

#aboutMe {
    background-color: aquamarine;
    grid-area: aboutMe;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-decoration: underline;
}

#apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: apps;
    row-gap: 5px;
}

#app1 {
    background-color: aliceblue;
    grid-area: app1;
    position: relative;
    color: rgb(0, 173, 204);
    font-size: xx-large;
    flex-basis: 100%;
}

#app1 img {
    display: block;
    object-fit: cover;
    object-position: top;
    height: 200px;
    width: 100%;
}

#app2 {
    background-color: azure;
    grid-area: app2;
    flex-basis: 100%;
    height: 100px;
}

#app3 {
    background-color: antiquewhite;
    grid-area: app3;
    flex-basis: 100%;
    height: 100px;
}

#app4 {
    background-color: beige;
    grid-area: app4;
    flex-basis: 100%;
    height: 100px;
}

#app5 {
    background-color: bisque;
    grid-area: app5;
    flex-basis: 100%;
    height: 100px;
}

#contactInfo {
    background-color: blanchedalmond;
    grid-area: contactInfo;
}

footer {
    background-color: cornsilk;
    grid-area: footer;
}