html {
    background-color: lightgray;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 350px repeat( 7 / auto );
    grid-template-areas:
        "nav"
        "hero"
        "side1"
        "aboutMe"
        "side2"
        "apps"
        "side3"
        "contactInfo"
        "footer";
        gap: .2rem ;
}

nav {
    grid-area: nav;
    background-color:lightskyblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navLinks {
    list-style-type: none;
    margin: 0%;
    padding: 0;
}

#hero {
    grid-area: hero;
}

#hero img {
    object-fit: cover;
    height: 350px;
    width: 100%;
}

#side1 {
    background-color: darkslategrey;
    grid-area: side1;
    margin-top: 25px;
}

#side2 {
    background-color: blue;
    grid-area: side2;
    margin-top: 25px;
}

#side3 {
    background-color: burlywood;
    grid-area: side3;
    margin-top: 25px;
}

#aboutMe {
    background-color: darkgrey;
    grid-area: aboutMe;
    font-size: large;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-decoration: underline;
}

#apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: apps;
    row-gap: 5px;
}

#app1 {
    background-color: aliceblue;
    position: relative;
    color: rgb(0, 173, 204);
    font-size: xx-large;
    flex-basis: 100%;
}

#app1 img {
    display: block;
    object-fit: cover;
    object-position: top;
    height: 400px;
    width: 100%;
}

.app2 {
    position: relative;
    color: white;
    font-size: xx-large;
    background-color: azure;
    flex-basis: 100%;
    height: 250px;
}

.app2 img {
    display: block;
    object-fit: cover;
    object-position: bottom;
    height: 250px;
    width: 100%;
}

#app3 img {
    object-position: 0px -1250px;
}

#app4 img {
    object-position: 0px -175px;
}

#app5 img {
    object-position: 0 -400px;
}

#contactInfo {
    background-color: blanchedalmond;
    grid-area: contactInfo;
}

footer {
    background-color: cornsilk;
    grid-area: footer;
}

@media (min-width: 440px) {
    html {
        background-color: black;
    }
}